body {
	background-color: black;
	color: white;
  
}


nav {
	background-color: white;
	border-radius: 10px;
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  position: sticky;
  /* box-shadow: 0 14px 4px rgba(137, 137, 137, 0.951); */
}

.navbar-left {
	margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-brand {
  font-family: Helvetica;
	font-size: 35px;
	color: black;
	font-weight: bold;
}

.navbar-right {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-right li {
	margin: 10px;
}

.navbar-right li a {
	display: block;
	padding: 20px;
	border-radius: 10px;
	color: black;
	text-decoration: none;
	font-size: 28px;
}

.navbar-right li a:hover {
	background-color: black;
	color: white;
}
main {
	padding: 80px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
}
h1 {
    font-size: 92px;
    text-align: center;
    margin-bottom: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 30px;
}


.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1s; /* add delay to start animation after page loads */
  animation-fill-mode: forwards; /* keep the final state after animation ends */
  opacity: 0; /* initially hide the element */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#spacing {
  margin-bottom: 30px;;
}


/* EXPERIENCE SECTION */

.experience {
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 150px;
  }
  
  .section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .section-header-text {

    font-size: 80px;
    color:white;
    padding: 10px 20px;
    
  }
  
  .experience-item {
    margin-bottom: 80px;
  }
  
  .experience-item-title {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    margin-left: 700px;
  }
  
  .experience-item-description {
    font-size: 26px;
    color: white;
    margin-left:700px ;
  }

  .experience-item-position {
    font-size: 34px;
    margin-left: 700px ;
    margin-bottom: 20px;
  }
  


  /* PROJECT SECTION */

  .projects {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
  }
  
  .project-item {
    margin-bottom: 100px;
    margin-left: 700px;
  }
  
  .project-item-title {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .project-item-language {
    font-size: 34px;
    color: white;
    margin-bottom: 20px;
  }
  
  .project-item-description {
    font-size: 26px;
    color: white;
  }
  

  /* CERTIFICATE */


  .certifications {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
  }
  
  .certification-item {
    margin-bottom: 100px;
  }
  
  .certification-item-title {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    margin-left: 700px;
  }
  
  .certification-item-link a {
    font-size: 34px;
    color: white;
    text-decoration: underline;
    margin-left: 700px;
  }
  

  /* BLOG */


  .blogs {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
  }
  
  .blog-item {
    margin-bottom: 80px;
    margin-left: 700px;
  }
  
  .blog-item-title {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .blog-item-description {
    font-size: 28px;
    color: white;
    margin-bottom: 40px;
  }
  
  .blog-item-more a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  

  /* SOCIAL */
