@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .press-1:active {
        transform: scale(99%);
    }
    .press-2:active {
        transform: scale(98%);
    }
    .press-3:active {
        transform: scale(97%);
    }
    .press-4:active {
        transform: scale(0.96);
    }
    .press-5:active {
        transform: scale(0.95);
    }
}

.app {
    /* DISABLE SELECTION */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */

    /* DISABLE BLUE HIGHLIGHT WHEN CLICK [FOR MOBILE CHROME] */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app:focus {
    outline: none !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #888;
}